.App {
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Intro {
  width: 80%;
  margin: 25px;
  font-weight: bolder;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(34, 36, 36);
  padding: 10px;
  border-radius: 10px;
  color: rgb(236, 236, 222);
}
.link-images {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.link-div {
  border: 1px solid rgb(238, 232, 232);
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(236, 236, 222);
}
